{% extends 'base.html.twig' %}

{% block title %}Index rôles{% endblock %}

{% block body %}
    <div class="container table-responsive text-center">

        <h1 class="mt-5">Rôles</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id <img class="fleches" src="{{ asset('Img/up-and-down-arrows.png') }}" alt="flèches de tri"></th>
                    <th>Nom <img class="fleches" src="{{ asset('Img/up-and-down-arrows.png') }}" alt="flèches de tri"></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>{{ role.idRole }}</td>
                    <td>{{ role.nomRole }}</td>
                    <td>
                        <a href="{{ path('app_roles_show', {'idRole': role.idRole}) }}">Voir</a>
                        <a href="{{ path('app_roles_edit', {'idRole': role.idRole}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouvé !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_roles_new') }}">Nouveau</a>
    </div>
{% endblock %}
