{% extends 'base.html.twig' %}

{% block title %}R么les{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="mt-5 mb-5">R么les</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id r么le</th>
                    <td>{{ role.idRole }}</td>
                </tr>
                <tr>
                    <th>Nom r么le</th>
                    <td>{{ role.nomRole }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_roles_index') }}">Retour</a>

        <a href="{{ path('app_roles_edit', {'idRole': role.idRole}) }}">Modifier</a>

        {{ include('roles/_delete_form.html.twig') }}
    </div>
{% endblock %}
